:root {
  /* main colors */
  --color-primary: #73b17b; /*#1976d2;*/
  --color-secondary: #1976d2;;
  --color-success: #2e7d32;
  --color-error: #d32f2f;
  --color-warning: #ed6c02;
  --color-info: #0288d1;
  --color-white: #fff;

  --color-primary-light: #a3e3aa;
  --color-primary-dark: #44814e;

  --color-secondary-light: #63a4ff;
  --color-secondary-dark: #004ba0;

  /*--color-text-primary: rgba(0, 0, 0, 0.87);*/
  --color-text-primary: #5c6873;
  --color-text-primary-inverse: rgba(250, 250, 250, 1);
  --color-text-secondary: rgba(153, 153, 153, 1);
  --color-text-disabled: rgba(0, 0, 0, 0.38);

  --color-background: rgba(248,248,249,1);
  --color-background-card: rgb(255, 255, 255);
  --color-background-tag: #f8f8f8;
  --color-background-input: #fff;

  --color-background-toast: #ababab;

  --color-divider: rgba(0, 0, 0, 0.12);
  --color-mask: rgba(0, 0, 0, 0.3);

  --color-shadow-primary: rgba(115, 177, 123, 0.6);

  /*--color-primary-light: #42a5f5;*/
  /*--color-secondary-light: #ba68c8;*/
  --color-success-light: #4caf50;
  --color-error-light: #ef5350;
  --color-warning-light: #ff9800;
  --color-info-light: #03a9f4;

  /*--color-primary-dark: #1565c0;*/
  /*--color-secondary-dark: #7b1fa2;*/
  --color-success-dark: #1b5e20;
  --color-error-dark: #c62828;
  --color-warning-dark: #e65100;
  --color-info-dark: #01579b;

  --color-light: #ebedef;
  --color-text-primary-dark: #fff;
  --color-text-secondary-dark: rgba(255, 255, 255, 0.7);
  --color-text-disabled-dark: rgba(255, 255, 255, 0.5);
  --color-background-dark: #121212;
  --color-divider-dark: rgba(255, 255, 255, 0.12);
}

* {
  font-size: 14px;
}

body {
  overflow-x: hidden;
  color: var(--color-text-primary);
  background-color: var(--color-background);
}

body.dark {
  color: var(--color-text-primary-dark);
  background-color: var(--color-background-dark);
}

textarea:focus, input:focus{
  outline: none;
}

main {
  flex-grow: 1;
  flex: 1;
  overflow-x: hidden;
  flex-shrink: 0;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

main::-webkit-scrollbar {
  display: none;
}

header, main {
  overflow-x: hidden;
  flex-shrink: 0;
}

footer {
  overflow: hidden;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 10;
}

.page {
  position: relative;
  height: 100%;
  /* right: -100%; */
  background: var(--color-background);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.page::-webkit-scrollbar {
  display: none;
}

.page * {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.page *::-webkit-scrollbar {
  display: none;
}

/* .page.in {
  right: 0;
  animation-name: page-in;
  animation-duration: 500ms;
}

.page.out {
  right: -100%;
  animation-name: page-out;
  animation-duration: 500ms;
}

@keyframes page-in {
  from {right: -100%;}
  to {right: 0;}
}

@keyframes page-out {
  from {opacity: 1;}
  to {opacity: 0;}
} */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: scroll;
}

/*
**
** INDEX
**
*/

.bottom-navigator {
  --icon-active: #fff;
  --icon-inactive: var(--color-primary);
  --icon-hover: #99a3ba;
  --text: var(--color-primary);
  --circle: var(--color-primary);
  --background: #fafafa;
  --shadow: rgba(18, 22, 33, .1);
  position: fixed;
  left: 0;
  bottom: 0;
  /* border-radius: 0 0 12px 12px; */
  background: var(--background);
  width: 100%;
  height: 80px;
  padding: 0 12px;
  box-shadow: 0 8px 16px var(--shadow);
  z-index: 9999;
}

.bottom-navigator > div {
  display: flex;
  height: 100%;
  position: relative;
}

.bottom-navigator > div label {
  flex: 0 0 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  z-index: 1;
  margin-bottom: 0;
}

.bottom-navigator > div label i, .bottom-navigator > div label span {
  display: block;
  transition: transform 0.4s cubic-bezier(0.2, 0.64, 0.48, 1.12), opacity 0.4s ease, color 0.4s ease;
  transform: translateY(var(--y)) scale(var(--s));
}

.bottom-navigator > div label i {
  --y: -8px;
  --s: 0.84;
  position: relative;
  left: 2px;
  font-size: 32px;
  width: 32px;
  height:32px;
  margin: auto;
  color: var(--icon-inactive);
  transform-origin: 50% 50%;
}

.bottom-navigator > div label.active i {
  --s: 0.76;
  --y: -34px;
  color: var(--icon-active);
}

.bottom-navigator > div label span {
  --y: -12px;
  --s: 0.92;
  font-size: 10px;
  font-weight: 500;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 20px;
  opacity: 0;
  color: var(--text);
  transform-origin: 50% 0;
}

.bottom-navigator > div label:active i {
  --s: 0.76;
}

.bottom-navigator > div input {
  display: none;
}

.bottom-navigator > div.active-0 label + span {
  --x: 0;
}

.bottom-navigator > div.active-1 label + span {
  --x: 100%;
}

.bottom-navigator > div.active-2 label + span {
  --x: 200%;
}

.bottom-navigator > div.active-3 label + span {
  --x: 300%;
}

.bottom-navigator > div.active-4 label + span {
  --x: 400%;
}

.bottom-navigator > div.active-5 label + span {
  --x: 500%;
}

.bottom-navigator > div label.active image {
  --y: -28px;
  --s: 1;
  color: var(--icon-active);
}

.bottom-navigator > div label.active span {
  --s: 1;
  --y: -10px;
  opacity: 1;
}

.bottom-navigator > div > span {
  --x: 0;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  transition: transform 0.4s cubic-bezier(0.2, 0.64, 0.48, 1.12);
  transform: translateX(var(--x));
}

.bottom-navigator > div > span:after {
  content: '';
  width: 44px;
  height: 44px;
  display: block;
  border-radius: 50%;
  background: var(--circle);
  position: absolute;
  left: 50%;
  top: 0;
  box-shadow: 0 2px 8px var(--shadow);
  margin: -14px 0 0 -22px;
}

.bottom-navigator > div.active-0 > label.active i {
  top: -8px;
  left: -2px!important;
}

.bottom-navigator > div.active-1 > label.active i {
  top: -6px;
  left: -1px!important;
}

.bottom-navigator > div.active-2 > label.active i {
  top: -6px;
  left: -2px!important;
}

.bottom-navigator > div.active-3 > label.active i {
  top: -8px;
  left: -2px!important;
}

.bottom-navigator > div.active-4 > label.active i {
  top: -8px;
  left: -2px!important;
}

.nav-item {
  min-width: 64px;
  line-height: 36px;
  font-size: 18px;
  height: 36px;
}

.nav-item.active {
  color: var(--color-primary);
  font-weight: bold;
}

.slider {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: var(--color-primary);
  transition: left .25s;
}

#pull-to-refresh {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

#refresh-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #888;
  height: 80px;
  display: none;
  background: var(--color-secondary);
  color: var(--color-text-primary-inverse);
}


.card {
  border: none!important;
  border-radius: 15px;
  border: none!important;
}

.card-header {
  line-height: 32px;
  border: none!important;
  background: transparent;
}

.list-group {
  border-radius: none!important;
}

.list-group-item {
  border: none!important;
  border-bottom: 1px solid var(--color-divider)!important;
}

.segment-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

.segment-group>.segment-group:not(:last-child)>.segment, .segment-group>.segment:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}

.segment-group > .segment {
  margin-bottom: 0;
  position: relative;
  flex: 1 1 auto;
}

.segment {
  display: inline-block;
  font-weight: 400;
  color: var(--color-text-secondary);
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 14px;
  line-height: 1.5;
  border-radius: unset!important;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  border-color: var(--color-text-secondary);
}

.segment.active {
  color: var(--color-text-primary-inverse);
  background-color: var(--color-text-secondary);
  border-color: var(--color-text-secondary);
}

.btn-link {
  text-decoration: none!important;
}